.popup {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  z-index: 1;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: visibility 0s linear .25s, opacity .25s linear;
}