.profile__info {
  max-width: 415px;
  display: grid;
  grid-template-areas: 
    "name button"
    "about-me .";
  gap: 16px 18px;
  margin: 0 165px 0 30px;
}

@media screen and (max-width: 768px) {
  .profile__info {
    max-width: 291px;
    margin: 0 85px 0 30px;
  }
}

@media screen and (max-width: 706px) {
  .profile__info {
    max-width: 79.432624113475177%;
    margin: 30px 0 36px;
    gap: 14px 10px;
    grid-template-columns: minmax(auto, 249px) 24px;
    grid-template-rows: repeat(2, auto);
  }
}

@media screen and (max-width: 320px) {
  .profile__info {
    grid-template-columns: minmax(auto, 249px) 18px;
  }
}