@import url(./vendor/normalize.css);
@import url(./vendor/fonts/inter.css);

.page{
  font-family: "Inter", sans-serif;
  background-color: #000;
}

.header {
  max-width: 880px;
  height: 74px;
  margin: 45px auto 40px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 915px) {
  .header {
    width: 95%;
  }
}

.header__logo {
  max-width: 173px;
  height: 33px;
}

.profile {
  max-width: 880px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  color: #fff;
}

@media screen and (max-width: 915px) {
  .profile {
    width: 95%;
  }
}

.profile__avatar {
  max-width: 120px;
  border-radius: 50%;
}

.profile__info {
  max-width: 415px;
  display: grid;
  grid-template-areas: 
    "name button"
    "about-me about-me";
  gap: 16px 18px;
  margin: 0 165px 0 30px;
}

@media screen and (max-width: 768px) {
  .profile__info {
    max-width: 450px;
    margin: 0 125px 0 30px;
  }
}

.profile__info-name {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  margin: 0;
  grid-area: name;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .profile__info-name {
    font-size: 35px;
  }
}

.button {
  border: none;
  background: transparent;
  background-size: contain;
  display: block;
  padding: 0;
  background-repeat: no-repeat;
}

.button_location_info {
  width: 24px;
  height: 24px;
  background-image: url(./images/edit-button.svg);
  align-self: flex-end;
  grid-area: button;
}

.profile__info-about-me {
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
  margin: 0;
  grid-area: about-me;
}

.button_location_profile {
  max-width: 150px;
  width: 100%;
  height: 50px;
  border: 2px solid #fff;
}

@media screen and (max-width: 768px) {
  .button_location_profile {
    max-width: 100px;
  }
}

.elements {
  max-width: 880px;
  margin: 50px auto 67px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 0;
  list-style: none;
  gap: 20px 17px;
}

@media screen and (max-width: 915px) {
  .elements {
    width: 95%;
  }
}

@media screen and (max-width: 768px) {
  .elements {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (max-width: 620px) {
  .elements {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}

.elements__card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.elements__card-image {
  width: 100%;
  object-fit: cover;
  display: block;
}

.elements__card-content {
  display: flex;
  width: 87.234042553191489%;
  margin: 25px 15px 31px 21px;
  justify-content: space-between;
  align-items: center;
}

.elements__card-title {
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 900;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.button_location_elements {
  background-image: url(./images/like-button.svg);
  width: 21px;
  height: 19px;
}

.footer {
  max-width: 880px;
  margin: 0 auto 60px;
  color: #545454;
}

@media screen and (max-width: 915px) {
  .footer {
    width: 95%;
  }
}

.footer__copyright {
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
}