.popup__content {
  position: relative;
  margin: auto;
  width: 430px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 320px) {
  .popup__content{
    width: 282px;
  }
}