.button_location_close {
  position: absolute;
  top: -45px;
  right: -45px;
  background-image: url(../../../images/button-close.svg);
  width: 40px;
  height: 40px;
  transition: opacity .25s ease-out;
}

.button_location_close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 570px) {
  .button_location_close {
    width: 26px;
    height: 26px;
    right: 0;
    top: -50px;
  }
}