.button_location_add-photo {
  max-width: 150px;
  width: 100%;
  height: 50px;
  border: 2px solid #fff;
  transition: opacity .25s ease-out;
  border-radius: 2px;
  background-image: url(../../../images/add-button.svg);
  background-size: 22px;
  background-position: center;
}

.button_location_add-photo:hover {
  opacity: 0.6;
}

@media screen and (max-width: 706px) {
  .button_location_add-photo {
    max-width: 100%;
  }
}