.footer {
  max-width: 880px;
  margin: 0 auto 60px;
  color: #545454;
}

@media screen and (max-width: 915px) {
  .footer {
    width: 88.125%;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    margin: 0 auto 36px;
  }
}