.button_location_info {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/edit-button.svg);
  align-self: flex-end;
  grid-area: button;
  transition: opacity .25s ease-out;
}

.button_location_info:hover {
  opacity: 0.6;
}

@media screen and (max-width: 320px) {
  .button_location_info {
    max-width: 18px;
    max-height: 18px;
  }
}